doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Faik Geci
    link(rel="stylesheet" href="../styles/style.css")
  body
    header 
            div(class="logo") 
                a(href="./") Faik Geci
            div(class="search")
                input(placeholder="Find art-work" type="text")
            div(class="menu")
                a(href="./index.html") main
                a(href="./gallery.html") gallery
                a(href="./contact.html") contact me
            div(class="burger")
                span
    block content
    footer
        div(class="footer menu")
            a(href="./index.html") main
            a(href="./gallery.html") gallery
            a(href="./contact.html") contact me
