doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Faik Geci
    link(rel="stylesheet" href="../styles/style.css")
  body
    div(class="sidebar")
        img(src="../img/logo.svg")
        h1 Faik Geci
        p Faik Geci / DoP
        p Director of photography 
        p Faik Geci has an extensive film & photography background for an array of broadcasters world wide. During his career, he worked with CNN, BBC, ZDF, FR24, ARTE, RTL, RAI.Most of his experience focuses on making current affairs news reports, documentaries.
        div(class="social-media")
            a(href="#")
                img(src="../img/fb.svg")
            a(href="#")
                img(src="../img/twitter.svg")
            a(href="#")
                img(src="../img/insta.svg")
        p Faik Genci. All Rights Reserved 2020
    header 
            div(class="search")
                input(placeholder="Find art-work" type="text")
            div(class="menu")
                a(href="./index.html") main
                a(href="./gallery.html") gallery
                a(href="./contact.html") contact me
            div(class="burger")
                span
    block content
    footer
        div(class="footer menu")
            a(href="./index.html") main
            a(href="./gallery.html") gallery
            a(href="./contact.html") contact me
