extends base.pug
block content
    div(class="main")
        div(class="banner")
            img(src="../img/pic1.jpg")
            div(class="description")
                p(class="title") I'M GLAD YOU'RE HERE
                p Please feel free to let me know about your request and I'll get back to you as soon as possible!
                button CONTACT FORM
        div(class="insta-link")
            p Follow me
            p(class="insta") Instagram
            p @faikgeci
        div(class="dialog_contact_form")
            h2 Get in touch
            form(action="submit")
                input(type="name" placeholder="Name")
                input(type="email" placeholder="Email")
                textarea(type="text" placeholder="Message")
                button(type="submit") Send
        div(class="insta-preview")
                img(src="../img/pic1.jpg")
                img(src="../img/pic1.jpg")
                img(src="../img/pic1.jpg")
                img(src="../img/pic1.jpg")