extends base.pug
block content
    div(class="main")
        div(class="posts-list")
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
        div(class="pages")
            div(class="num") 1
            div(class="num") 2
            div(class="num") 3