extends base.pug
block content
    div(class="main")
        div(class="posts-list")
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name 