extends base.pug
block content
    div(class="main")
        div(class="posts-list")
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name 
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name 
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name 
            div(class="post")
                img(src="../img/pic1.jpg")
                p Post's name 
        div(class="contact")
            p(class="title") CONTACT
            p Please feel free to let me know about your request and I'll get back to you as soon as possible!
            a(href="#") GET IN TOUCH
        div(class="subscribe")
            p(class="title") SUBSCRIBE
            p Photographs, writing, and the road, stay tuned with updates.
            input(placeholder="Your E-mail")
            button SUBSCRIBE
        div(class="insta-link")
            p Follow me
            p(class="insta") Instagram
            p @faikgeci
        div(class="insta-preview")
                img(src="../img/pic1.jpg")
                img(src="../img/pic1.jpg")
                img(src="../img/pic1.jpg")
                img(src="../img/pic1.jpg")