extends base.pug
block content
    div(class="main")
        div(class="post-container photo-page")
            div(class="info")
                p(class="title") {{ photography.title }}
            div(class="image-block")
                img(src="../img/pic2.jpg" alt="{{ photography.title }}")
                button(class="buy")
                    p(class="royalty") Royalty-free 
                    p GET THIS IMAGE FOR €{{ photography.price }}
            div(class="description")
                p {{ photography.content }}