extends base.pug
block content
    div(class="main")
        div(class="post-container photo-page")
            div(class="info")
                p(class="title") {{ photography.title }}
            div(class="main-pic")
                img(src="{{ photography.photo_thumbnail.url }}" alt="{{ photography.title }}")
            div(class="description")
                p {{ photography.content }} qwer tyuiovjsa dbjsfufhfjf jfjghgldsaaaaaaaaaa aaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaa fffffffffffffffffffffffffffffffffff
                button(class="buy")
                    p(class="royalty") Royalty-free 
                    p GET THIS IMAGE FOR €{{ photography.price }}