extends base.pug
block content
    div(class="main")
        div(class="post-container")
            div(class="info")
                p(class="title") Novosibirsk 
                p(class="date") 29/06/2019
            div(class="main-pic")
                img(src="../img/pic1.jpg")
            div(class="description")
                p American photographer, freelancer and photojournalist. His photo Afghan Girl, of a girl with piercing green eyes, has appeared on the cover of National Geographic several times. McCurry is the recipient of numerous awards, including Magazine Photographer of the Year, awarded by the National Press Photographers Association; the Royal Photographic Society's Centenary Medal and two first-place prizes in the World Press Photo conte
            div(class="get-large-block")
                div(class="get-large-block-item")
                    img(src="../img/pic1.jpg")
                    div(class="item-description")
                        div(class="item-info")
                            p(class="name") Two Boys & The Sea
                            p(class="date") 24/12/29
                        button GET LARGE
                div(class="get-large-block-item")
                    img(src="../img/pic1.jpg")
                    div(class="item-description")
                        div(class="item-info")
                            p(class="name") Two Boys & The Sea
                            p(class="date") 24/12/29
                        button GET LARGE
                div(class="get-large-block-item")
                    img(src="../img/pic1.jpg")
                    div(class="item-description")
                        div(class="item-info")
                            p(class="name") Two Boys & The Sea
                            p(class="date") 24/12/29
                        button GET LARGE