extends base.pug
block content
    div(class="main")
        div(class="post-container")
            div(class="info")
                p(class="title") Novosibirsk 
                p(class="date") 29/06/2019
            div(class="main-pic")
                img(scr="../img/pic1.jpg")