{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>

    <body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Thank You</h1>
            <a href="{{ photoBad }}" download> Click here to download photo </a>
        </div>
    </div>
    </body>
{% endblock %}